<div class="container">
  <div class="jumbotron">
    <h2>Welcome to Codaisseurify!!!</h2>
    <p>These are all the current artists</p>

  </div>
  <%= link_to "New Artist", new_artist_path, class: "btn btn-default" %>
  <div class="row">
  <% if @artists.any? %>
      <% for artist in @artists do %>
      <div class="col-md-4 well-sm">
        <% if artist.photo %>
          <%= link_to (image_tag artist.photo.image, alt: artist.name, class: "img-thumbnail"), artist_path(artist) %>
        <% end %>
        <h3><%= link_to artist.name, artist_path(artist) %></h3>
      </div>
      <% end %>

  <% end %>

</div>
</div>
