
<nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="v-center">
        <%= link_to "Codaisseurify", root_path, class: "navbar-brand home_link" %>
      </div>
    </div>
  </div>
</nav>
